@(acctField: Field, planId: Long)

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(views.html.creator.formHelpers.formTextInputHelper.render)
}

@inputCurrencyFieldConstructor = @{
    FieldConstructor(views.html.creator.formHelpers.formCurrencyInputHelper.render)
}

<div class="col-sm-6 col-md-4 col-lg-5">
    <div class="form-widget panel panel-default">
        <div class="panel-heading">
            @* Determine header and whether or not we should add a delete button *@
            @if(acctField("id").value.isEmpty) {
                New Mortgage
            } else {
                @if(acctField("id").value.get.toLong == 0) {
                    New Mortgage
                } else {
                    <a href="@routes.RetirementPlanCreationController.deleteMortgageAccount(planId, acctField("id").value.get.toLong)">
                        <button type="button" class="btn-xs button btn-danger pull-left">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </button>
                    </a>
                    @acctField("name").value.get.toString
                }
            }
        </div>
        <div class="panel-body">
            <fieldset class="row">
                    <!-- Account Name -->
                @inputText(acctField("name"), '_label -> "Name", 'class -> "form-control input-md", '_help -> "")
                    <!-- Account Principal -->
                @inputText(acctField("principalBalance"), '_type -> "number", '_min -> "0.01", '_step -> "0.01", 'class -> "form-control input-md currency", '_label -> "Principal", '_help -> ""
                )(handler = inputCurrencyFieldConstructor, null)

                    <!-- Years -->
                @inputText(acctField("term"), '_label -> "Years", 'class -> "form-control input-md", '_help -> "")
                    <!-- Interest Rate -->
                @inputText(acctField("interestRate"), '_label -> "Interest Rate", 'class -> "form-control input-md", '_help -> "")
                    <!-- Start Date -->
                @inputText(acctField("beginDate"), '_label -> "Start Date", 'class -> "form-control input-md date-picker", '_help -> "")
                @if(acctField("id").value.isDefined && acctField("id").value.get.toLong != 0) {
                    @defining(acctField("id")) { uidField =>
                        <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
                    }
                }

                @* Determine if we should add a button *@
                @if(acctField("id").value.isDefined) {
                    @if(acctField("id").value.get.toLong == 0) {
                        <div class="form-group">
                            <div class="col-xs-11">
                                <button type="submit" class="btn btn-success pull-right">Add</button>
                            </div>
                        </div>
                    }
                }
            </fieldset>
        </div>
    </div>
</div>

