@import models.pojo.TaxThresholds
@import models.pojo.FilingStatus
@(taxSettingsForm: Form[TaxThresholds])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@base("Create Tax Settings") {

    <legend>Add Tax Settings</legend>

    @form(routes.TaxesController.saveTaxSettings(), 'class -> "form-horizontal") {

        <fieldset>

            @inputText(taxSettingsForm("year"), '_label -> "Year", '_help -> "")
            @select(
                taxSettingsForm("filingStatus.id"),
                options(FilingStatus.options), 'id -> "uid_field",
                'class -> "form-control input-md", '_label -> "Filing Status",
                '_default -> "-- Filing Status --", '_showConstraints -> false
            )

            @* Income Bracket Information *@
            <br>
            <h2 class="col-md-offset-5">Income Tax Bracket</h2>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_0_low">10%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_0_low" name="incomeBrackets[0].low" value="0">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_0_high" name="incomeBrackets[0].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[0].id" id="incomeBrackets_0_id" value="0">*@
                <input type="hidden" name="incomeBrackets[0].rate" id="incomeBrackets_0_rate" value="0.10">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_1_low">15%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_1_low" name="incomeBrackets[1].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_1_high" name="incomeBrackets[1].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[1].id" id="incomeBrackets_1_id" value="0">*@
                <input type="hidden" name="incomeBrackets[1].rate" id="incomeBrackets_1_rate" value="0.15">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_2_low">25%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_2_low" name="incomeBrackets[2].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_2_high" name="incomeBrackets[2].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[2].id" id="incomeBrackets_2_id" value="0">*@
                <input type="hidden" name="incomeBrackets[2].rate" id="incomeBrackets_2_rate" value="0.25">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_3_low">28%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_3_low" name="incomeBrackets[3].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_3_high" name="incomeBrackets[3].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[3].id" id="incomeBrackets_3_id" value="0">*@
                <input type="hidden" name="incomeBrackets[3].rate" id="incomeBrackets_3_rate" value="0.28">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_4_low">33%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_4_low" name="incomeBrackets[4].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_4_high" name="incomeBrackets[4].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[4].id" id="incomeBrackets_4_id" value="0">*@
                <input type="hidden" name="incomeBrackets[4].rate" id="incomeBrackets_4_rate" value="0.33">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_5_low">35%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_5_low" name="incomeBrackets[5].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_5_high" name="incomeBrackets[5].high" value="">
                </div>
                @*<input type="hidden" name="incomeBrackets[5].id" id="incomeBrackets_5_id" value="0">*@
                <input type="hidden" name="incomeBrackets[5].rate" id="incomeBrackets_5_rate" value="0.35">
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="incomeBrackets_6_low">39.6%</label>
                <div class="col-md-2">
                    <input type="text" id="incomeBrackets_6_low" name="incomeBrackets[6].low" value="">
                    <strong>+</strong>
                </div>
                <input type="hidden" id="incomeBrackets_6_high" name="incomeBrackets[6].high" value="9223372036854775807">
                @*<input type="hidden" name="incomeBrackets[6].id" id="incomeBrackets_6_id" value="0">*@
                <input type="hidden" name="incomeBrackets[6].rate" id="incomeBrackets_6_rate" value="0.396">
            </div>

            @* Tax Computation Bracket Information *@
            <br>
            <h2 class="col-md-offset-5">Tax Computation Table</h2>
            <div class="form-group">
                <label class="col-md-3 control-label" for="taxComputationBrackets_0_low">28%</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_0_low" name="taxComputationBrackets[0].low" value="0">
                </div>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_0_high" name="taxComputationBrackets[0].high" value="">
                </div>
                <label class="col-md-1 control-label" for="taxComputationBrackets_0_subtractionAmount">Subtraction Amount</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_0_subtractionAmount" name="taxComputationBrackets[0].subtractionAmount" value="">
                </div>
                @*<input type="hidden" name="taxComputationBrackets[0].id" id="taxComputationBrackets_0_id" value="0">*@
                <input type="hidden" name="taxComputationBrackets[0].rate" id="taxComputationBrackets_0_rate" value="0.28">
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="taxComputationBrackets_1_low">33%</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_1_low" name="taxComputationBrackets[1].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_1_high" name="taxComputationBrackets[1].high" value="">
                </div>
                <label class="col-md-1 control-label" for="taxComputationBrackets_1_subtractionAmount">Subtraction Amount</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_1_subtractionAmount" name="taxComputationBrackets[1].subtractionAmount" value="">
                </div>
                @*<input type="hidden" name="taxComputationBrackets[1].id" id="taxComputationBrackets_1_id" value="0">*@
                <input type="hidden" name="taxComputationBrackets[1].rate" id="taxComputationBrackets_1_rate" value="0.33">
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="taxComputationBrackets_2_low">35%</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_2_low" name="taxComputationBrackets[2].low" value="">
                </div>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_2_high" name="taxComputationBrackets[2].high" value="">
                </div>
                <label class="col-md-1 control-label" for="taxComputationBrackets_2_subtractionAmount">Subtraction Amount</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_2_subtractionAmount" name="taxComputationBrackets[2].subtractionAmount" value="">
                </div>
                @*<input type="hidden" name="taxComputationBrackets[2].id" id="taxComputationBrackets_2_id" value="0">*@
                <input type="hidden" name="taxComputationBrackets[2].rate" id="taxComputationBrackets_2_rate" value="0.35">
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="taxComputationBrackets_3_low">39.6%</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_3_low" name="taxComputationBrackets[3].low" value="">
                    <strong>+</strong>
                </div>
                <input type="hidden" id="taxComputationBrackets_3_high" name="taxComputationBrackets[3].high" value="9223372036854775807">
                <div class="col-md-2">@* Placeholder *@</div>
                <label class="col-md-1 control-label" for="taxComputationBrackets_3_subtractionAmount">Subtraction Amount</label>
                <div class="col-md-2">
                    <input type="text" id="taxComputationBrackets_3_subtractionAmount" name="taxComputationBrackets[3].subtractionAmount" value="">
                </div>
                @*<input type="hidden" name="taxComputationBrackets[3].id" id="taxComputationBrackets_3_id" value="0">*@
                <input type="hidden" name="taxComputationBrackets[3].rate" id="taxComputationBrackets_3_rate" value="0.396">
            </div>

            @* Capital Gains Bracket Information *@
            <br>
            <h2 class="col-md-offset-5">Capital Gains Bracket</h2>
            <div class="form-group">
                <label class="col-md-5 control-label" for="capitalGainsBrackets_0_threshold">15%</label>
                <div class="col-md-2">
                    <input type="text" id="capitalGainsBrackets_0_threshold" name="capitalGainsBrackets[0].threshold" value="">
                </div>
                @*<input type="hidden" name="capitalGainsBrackets[0].id" id="capitalGainsBrackets_0_id" value="0">*@
                <input type="hidden" name="capitalGainsBrackets[0].rate" id="taxComputationBrackets_0_rate" value="0.25">
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label" for="capitalGainsBrackets_1_threshold">25%</label>
                <div class="col-md-2">
                    <input type="text" id="capitalGainsBrackets_1_threshold" name="capitalGainsBrackets[1].threshold" value="">
                </div>
                @*<input type="hidden" name="capitalGainsBrackets[1].id" id="capitalGainsBrackets_1_id" value="0">*@
                <input type="hidden" name="capitalGainsBrackets[1].rate" id="taxComputationBrackets_1_rate" value="0.25">
            </div>

            @* MAGI Bracket Information *@
            <br>
            <h2 class="col-md-offset-5">Modified Adjusted Gross Income Bracket</h2>
            <div class="form-group">
                <label class="col-md-5 control-label" for="magiBrackets_0_threshold">50%</label>
                <div class="col-md-2">
                    <input type="text" id="magiBrackets_0_threshold" name="magiBrackets[0].threshold" value="">
                </div>
                @*<input type="hidden" name="magiBrackets[0].id" id="magiBrackets_0_id" value="0">*@
                <input type="hidden" name="magiBrackets[0].rate" id="magiBrackets_0_rate" value="0.50">
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label" for="magiBrackets_1_threshold">85%</label>
                <div class="col-md-2">
                    <input type="text" id="magiBrackets_1_threshold" name="magiBrackets[1].threshold" value="">
                </div>
                @*<input type="hidden" name="magiBrackets[1].id" id="magiBrackets_1_id" value="0">*@
                <input type="hidden" name="magiBrackets[1].rate" id="magiBrackets_1_rate" value="0.85">
            </div>

        </fieldset>

        <div class="top-padding col-md-4 col-md-offset-5">
            <input type="submit" value="Create" class="btn primary"> or
            <a href="@routes.TaxesController.listTaxSettings()" class="btn">Cancel</a>
            @if(taxSettingsForm.hasErrors) {
                <div class="col-md-3 col-md-offset-4 alert-danger alert alert-error">
                    <a class="close" data-dismiss="alert">x</a>
                    @if(taxSettingsForm.errors.size() > 0) {
                        @for((key, value) <- taxSettingsForm.errors) {
                            @for(err <- value) {
                                @err.message()
                            }
                        }
                    } else {No error returned.}
                </div>
            }
        </div>
    }
}