@import models.pojo.FilingStatus
@(filingStatusForm: Form[FilingStatus])

@import helper._

@implicitFieldConstructor = @{
  FieldConstructor(formInputTemplate.render)
}

@base("Create Filing Status") {

  <legend>Add a Filing Status</legend>

  @form(routes.TaxesController.saveFilingStatus(), 'class -> "form-horizontal") {

    <fieldset>

      @inputText(filingStatusForm("name"), '_label -> "Name", '_help -> "")

    </fieldset>

    <div class="top-padding col-md-4 col-md-offset-5">
      <input type="submit" value="Create" class="btn primary"> or
      <a href="@routes.TaxesController.listFilingStatus()" class="btn">Cancel</a>
      @if(filingStatusForm.hasErrors) {
        <div class="col-md-3 col-md-offset-4 alert-danger alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          @if(filingStatusForm.errors.size() > 0) {
            @for((key, value) <- filingStatusForm.errors) {
              @for(err <- value) {
                @err.message()
              }
            }
          } else {No error returned.}
        </div>
      }
    </div>
  }
}