@import models.pojo.FilingStatus
@(id: Long, filingStatusForm: Form[FilingStatus])

@import helper._

@implicitFieldConstructor = @{
  FieldConstructor(formInputTemplate.render)
}

@base("Edit Filing Status") {

  <legend>Edit a Filing Status</legend>

  @form(routes.TaxesController.updateFilingStatus(), 'class -> "form-horizontal") {

    <fieldset>
      @inputText(filingStatusForm("name"), 'class -> "form-control input-md", '_label -> "Filing Status Name", '_help -> "")
      @defining(filingStatusForm("id")) { uidField =>
        <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
      }
    </fieldset>

    <div class="top-padding col-md-4 col-md-offset-5">
      <input type="submit" value="Update" class="btn btn-primary">
      <a href="@routes.TaxesController.listFilingStatus()" class="btn btn-danger">Cancel</a>
      @if(filingStatusForm.hasErrors) {
        <div class="col-md-3 col-md-offset-4 alert-danger alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          @if(filingStatusForm.errors.size() > 0) {
            @for((key, value) <- filingStatusForm.errors) {
              @for(err <- value) {
                @err.message()
              }
            }
          } else {No error returned.}
        </div>
      }
    </div>
  }
}