@import helper._
@import java.util

@import models.pojo.TaxThresholds
@(taxSettings: util.List[TaxThresholds])

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@base("Tax Settings") {

    <h2 id="homeTitle">Tax Settings</h2>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success" role="alert">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(taxSettings.size() == 0) {
        <div class="well">
            <em>Please add tax settings...</em>
        </div>
    } else {
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Filing Status</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>

            @for(taxSetting <- taxSettings) {
                <tr>
                    <td>@taxSetting.year</td>
                    <td>@taxSetting.getFilingStatus.getName</td>
                    <td>
                        <a href="@routes.TaxesController.editTaxSettings(taxSetting.id)">EDIT</a> /
                        <a href="@routes.TaxesController.deleteTaxSettings(taxSetting.id)">DELETE</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }

    <div id="actions">
        <a class="btn btn-success" id="add" href="@routes.TaxesController.createTaxSettings()">
            Add yearly tax settings
        </a>
    </div>
}