@import helper._
@import models.pojo.FilingStatus
@import java.util

@(filingStatuses: util.List[FilingStatus])

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@base("List Filing Status") {

    <h2 id="homeTitle">Filing Statuses</h2>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success" role="alert">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(filingStatuses.size() == 0) {
        <div class="well">
            <em>Please add a filing status...</em>
        </div>
    } else {
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Record # </th>
                    <th>Filing Status</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>

            @for(filingStatus <- filingStatuses) {
                <tr>
                    <td>@filingStatus.id</td>
                    <td>@filingStatus.name</td>
                    <td>
                        <a href="@routes.TaxesController.editFilingStatus(filingStatus.id)">EDIT</a> /
                        <a href="@routes.TaxesController.deleteFilingStatus(filingStatus.id)">DELETE</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }

    <div id="actions">
        <a class="btn btn-success" id="add" href="@routes.TaxesController.createFilingStatus()">
            Add a new filing status
        </a>
    </div>
}