@(acctField: Field, planId: Long)

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(views.html.creator.formHelpers.formTextInputHelper.render)
    }

    @inputCurrencyFieldConstructor = @{
        FieldConstructor(views.html.creator.formHelpers.formCurrencyInputHelper.render)
    }

    @checkboxFieldConstructor = @{
        FieldConstructor(views.html.creator.formHelpers.formCheckboxHelper.render)
    }

    @inputNumberFieldConstructor = @{
        FieldConstructor(views.html.creator.formHelpers.formNumberInputHelper.render)
    }

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-widget panel panel-success">
            <div class="panel-heading">
                @* Determine header and whether or not we should add a delete button *@
                @if(acctField("id").value.isEmpty) {
                    New Monetary Account
                } else {
                    @if(acctField("id").value.get.toLong == 0) {
                        New Monetary Account
                    } else {
                        <a href="@routes.RetirementPlanCreationController.deleteMonetaryAccount(planId, acctField("id").value.get.toLong)">
                            <button type="button" class="btn-xs button btn-danger pull-left">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                        </a>
                        @acctField("name").value.get.toString
                    }
                }
            </div>
            <div class="panel-body panel-success">
                <fieldset>
                        <!-- Account Type -->
                    @select(acctField("type"), options = options(Seq("Cash", "401K", "IRA", "Roth")),
                        '_label -> "Type", 'class -> "form-control input-md", '_help -> "")

                        <!-- Account Name -->
                    @inputText(acctField("name"), '_label -> "Name", 'class -> "form-control input-md", '_help -> "")

                        <!-- Account Balance -->
                    @inputText(acctField("balance"), '_type -> "number", '_min -> "1", '_step -> "1", 'class -> "form-control input-md currency", '_label -> "Balance", '_help -> ""
                    )(handler = inputCurrencyFieldConstructor, null)

                        <!-- Account Growth Rate -->
                    @inputText(acctField("growthRate"), '_label -> "Growth Rate", 'class -> "form-control input-md", '_help -> ""
                    )(handler = inputNumberFieldConstructor, null)

                    @if(acctField("id").value.isDefined) {
                        @if(acctField("id").value.get.toLong != 0) {
                            @defining(acctField("id")) { uidField =>
                                <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
                            }
                        }
                    }
                    @if(acctField("id").value.isDefined) {
                        @if(acctField("id").value.get.toLong == 0) {
                            <div class="form-group">
                                <div class="col-xs-11">
                                    <button type="submit" class="btn btn-success pull-right">Add</button>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
            </div>
        </div>
    </div>
