body {
    margin: 0;
    padding: 0;
    background: #fff;
}

a {
    color: #0781F1;
}

a:hover {
    color: #00529A;
}

/* Navbar overrides */
.navbar-static-top {
    margin-bottom: 19px;
}

.navbar-default a {
    color: #0781F1;
}


.navbar-nav>li>a:hover {
    color: #0781F1;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #0781F1;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #0781F1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0781F1;
    background-color: #1E65A1;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #0781F1;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #0781F1;
}


.top-padding {
    padding-top: 15px;
}

/* Adding margin to space between sections of input, and continue */
.continue-buffer {
    margin-top: 40px;
}

.full-btn {
    width: 100%;
}

h2 {
    font-weight: 400;
}

legend {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 15px;
}

.legend-buffer {
    margin-bottom: 75px;
}

.legend-frozen {
    position: absolute;
    width: 98%;
    padding-bottom: 7px;
}

label {
    font-weight: 500;
}

th, td {
    min-width: 85px;
    text-align: center !important;
}

strong {
    color: #444444;  /* for the Summary table headers */
}

#homeTitle {
    padding-bottom: 10px;
}

.currency {
    padding-left:12px ;
}

.currency-symbol {
    position:absolute ;
    padding: 10px 5px ;
}

.form-widget .panel-heading {
    text-align: center;
    font-size: 1.2em;
}

button .glyphicon-plus {
    width: 100%
}

.add-account button {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
}

.amount-removed-value {
    color: #FF2902;
}

.cursor-hover {
    cursor: pointer;
}

.cursor-hover:hover {
    font-weight: 600;
}

/* Used to buffer DataTables bottom buttons */
.bottom-button-row {
    margin-right: 5px;
    margin-bottom: 20px;
}

/* DataTables overrides */
.dt-buttons a {
    color: white !important;
    border: 1px solid #2f6405;
    background-image: linear-gradient(#4da309, #469408 6%, #3f8507)
}

.dt-buttons a:hover {
    border: 1px solid #2f6405;
    background-image: linear-gradient(#4da309, #469408 6%, #3f8507)
}


/* Tabs overrides */
.tabs-panel {
    padding-bottom: 45px !important;
}

.ui-widget {
    font-family: inherit !important;
}

.ui-widget-header {
    background: none !important;
    border:none !important;
    border-bottom: 1px solid #ddd !important;
}

.ui-widget-content {
    border: none !important;
}
