<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.landingPage()">TERI</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            @* Settings dropdown *@
            <ul class="nav navbar-nav navbar-right">
                @* settingsDropdown ID used in Summary for an override; see summaryBase.scala.html *@
                <li class="dropdown" id="settingsDropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.RetireeController.listRetirementPlan()">Retirement Plans</a></li>
                        <li><a href="@routes.TaxesController.listTaxSettings()">Yearly Tax Settings</a></li>
                        <li><a href="@routes.RetireeController.listRetiree()">Retirees</a></li>
                        <li><a href="@routes.RetireeController.listMonetaryAccount()">Monetary Accounts</a></li>
                        <li><a href="@routes.TaxesController.listFilingStatus()">Filing Statuses</a></li>
                        <li role="separator" class="divider"></li>

                        @* Show correct prompt in dropdown *@
                        @if(session().get("authorized") == null) {
                            <li><a href="@routes.Application.login()">Log In</a></li>
                        } else {
                            <li><a href="@routes.Application.logout()">Log Out</a></li>
                        }
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>