@* Resusable helper to create custom input fields. Customized via template parameters *@
@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) { error}">
    <label class="col-md-4 control-label" for="@elements.id">@elements.label</label>
    <div class="col-md-7">
        <input type="text" id="@elements.field.id" name="@elements.field.name"
        value="@if(elements.field.value.isEmpty) {0.0} else {@elements.field.value}"
            @toHtmlArgs(elements.args)>
        <span class="help-inline">@elements.infos.mkString(", ")</span>
    </div>
</div>
