@* Resusable helper to create custom input fields. Customized via template parameters *@
@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) { error }">
    <label class="col-md-4 control-label" for="retiree1_monetaryAccounts_6_preTax">@elements.label</label>
    <div class="col-md-7">
        @elements.input
        @*<input type="checkbox" id="retiree1_monetaryAccounts_6_preTax" name="retiree1.monetaryAccounts[6].preTax" value="true" class="input-md">*@
        <span class="help-inline">@elements.infos.mkString(", ")</span>
    </div>
</div>