@* Resusable helper to create custom input fields. Customized via template parameters *@
@(elements: helper.FieldElements)

@if(elements == null) {
    <div class="form-group @if(elements.hasErrors) { error}">
        <label class="col-md-5 control-label" for="@elements.id">@elements.label</label>
        <div class="col-md-2">
            <div class="currency-input">
                <span class='currency-symbol'>$</span>
                <input type="text" id="@elements.field.id" name="@elements.field.name"
                value="@if(elements.field.value.isEmpty) {0} else {@elements.field.value}"
                    @toHtmlArgs(elements.args)>
            </div>
            <span class="help-inline">@elements.infos.mkString(", ")</span>
        </div>
    </div>
} else {
    <div class="form-group">
        <label class="col-md-5 control-label" for="@elements.id">@elements.label</label>
        <div class="col-md-2">
            <div class="currency-input">
                <span class='currency-symbol'>$</span>
                <input type="text" id="@elements.field.id" name="@elements.field.name"
                value="@if(elements.field.value.isEmpty) {0} else {@elements.field.value}"
                    @toHtmlArgs(elements.args)>
            </div>
            <span class="help-inline">@elements.infos.mkString(", ")</span>
        </div>
    </div>
}