@import models.RetirementPlan
@import models.pojo.FilingStatus
@import creator.formHelpers.formCurrencyInputSmallHelper

@(retirementPlanForm: Form[RetirementPlan], id: Long)

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@inputCurrencyFieldConstructor = @{
    FieldConstructor(formCurrencyInputSmallHelper.render)
}

@base("Edit Retirement Plan") {

    <legend>Edit Retirement Plan</legend>

    @* Success dialogue *@
    @if(flash.containsKey("success")) {
        <div class="alert alert-success" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @form(routes.RetirementPlanCreationController.updateRetirementPlan(id), 'class -> "form-horizontal") {
        <fieldset>
            @* Plan information *@
            @inputText(retirementPlanForm("name"), 'class -> "form-control input-md", '_label -> "Plan Name", '_help -> "")
            @select(
                retirementPlanForm("filingStatus.id"),
                options(FilingStatus.options), 'id -> "uid_field",
                'class -> "form-control input-md", '_label -> "Filing Status",
                '_default -> "-- Filing Status --", '_showConstraints -> false
            )
            @inputText(retirementPlanForm("exemptions"), 'class -> "form-control input-md", '_label -> "Exemptions", '_help -> "")
            @if(retirementPlanForm.field("id").value != null) {
                @defining(retirementPlanForm("id")) { uidField =>
                    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
                }
            }
            @inputText(retirementPlanForm("desiredIncome"), '_col -> "col-md-5", '_type -> "number", '_min -> "0", '_step -> "1000",
                'class -> "form-control input-md currency'", '_label -> "Desired Annual Income", '_help -> ""
            )(handler = inputCurrencyFieldConstructor, null)

            @* Error dialogue *@
            @if(retirementPlanForm.hasErrors) {
                <div class="col-md-4 col-md-offset-4 alert-danger alert alert-error">
                    <a class="close" data-dismiss="alert">x</a>
                    <p><strong>Error updating Retirement Plan:</strong></p>
                    @if(retirementPlanForm.errors.size() > 0) {
                        @for((key, value) <- retirementPlanForm.errors) {
                            @for(err <- value) {
                                @err.key(): @err.message() <br>
                            }
                        }
                    } else {No error returned.}
                </div>
            }

        </fieldset>

        @* Retirees *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="cursor-hover" data-toggle="collapse" href="#firstRetireeCollapse">First Retiree</h4>
            </div>
            <div class="panel-body panel-collapse collapse" id="firstRetireeCollapse">
                @views.html.creator.retiree.formRetiree(retirementPlanForm("retiree1"), id)
            </div>
        </div>
        <br>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="cursor-hover" data-toggle="collapse" href="#secondRetireeCollapse">Second Retiree (Optional)</h4>
            </div>
            <div class="panel-body panel-collapse collapse" id="secondRetireeCollapse">
                @views.html.creator.retiree.formRetiree(retirementPlanForm("retiree2"), id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-lg-offset-5">
                    <button type="submit" name="action" value="save" class="btn btn-success">Save Retirement Plan</button>
                    <button type="submit" name="action" value="cancel" class="btn btn-danger">Cancel</button>
                <br>
            </div>
        </div>
    }
}