@import models.RetirementPlan
@import models.pojo.FilingStatus
@(acctForm: Form[RetirementPlan])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@base("Create RetirementPlan") {

    <legend>Add a Retirement Plan</legend>

    @form(routes.RetireeController.saveRetirementPlan(), 'class -> "form-horizontal") {
        <div class="row">
        @if(acctForm.hasErrors) {
            <div class="col-md-4 col-md-offset-4 alert-danger alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                @if(acctForm.errors.size() > 0) {
                    @for((key, value) <- acctForm.errors) {
                        @for(err <- value) {
                            @err.key(): @err.message()<br>
                        }
                    }
                } else {No error returned.}
            </div>
        }
        </div>

        <fieldset>
            @inputText(acctForm("name"), 'class -> "form-control input-md", '_label -> "Plan Name", '_help -> "")
            @select(
                acctForm("retiree1.id"),
                options(Retiree.options), 'id -> "uid_field",
                'class -> "form-control input-md", '_label -> "First Retiree",
                '_default -> "-- Choose Retiree --", '_showConstraints -> false
            )
            @select(
                acctForm("retiree2.id"),
                options(Retiree.options), 'id -> "uid_field",
                'class -> "form-control input-md", '_label -> "Second Retiree (optional)",
                '_default -> "-- optional --", '_showConstraints -> false
            )
            @select(
                acctForm("filingStatus.id"),
                options(FilingStatus.options), 'id -> "uid_field",
                'class -> "form-control input-md", '_label -> "Filing Status",
                '_default -> "-- Filing Status --", '_showConstraints -> false
            )
            @inputText(acctForm("exemptions"), 'class -> "form-control input-md", '_label -> "Exemptions", '_help -> "")
        </fieldset>

        <div class="top-padding col-md-4 col-md-offset-5">
            <input type="submit" value="Create" class="btn btn-success">
            <a href="@routes.RetireeController.listRetirementPlan()" class="btn btn-danger">Cancel</a><br>
        </div>
    }
}