@import models.MonetaryAccount
@(monetaryAccount: Form[MonetaryAccount])

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(formInputTemplate.render)
    }

    @base("Create Monetary Account") {

        <legend>Add a Monetary Account</legend>

        @form(routes.RetireeController.saveMonetaryAccount(), 'class -> "form-horizontal") {

            <fieldset>
                @inputText(monetaryAccount("name"), 'class -> "form-control input-md", '_label -> "Account Name", '_help -> "")
                @select(
                    monetaryAccount("retiree.id"),
                    options(Retiree.options), 'id -> "uid_field",
                    'class -> "form-control input-md", '_label -> "First Retiree",
                    '_default -> "-- Account Owner --", '_showConstraints -> false
                )
                @inputText(monetaryAccount("balance"), 'class -> "form-control input-md", '_label -> "Balance", '_help -> "")
                @checkbox(monetaryAccount("preTax"), '_label -> "Pre Tax", '_help -> "")
                @inputText(monetaryAccount("growthRate"), 'class -> "form-control input-md", '_label -> "Growth Rate", '_help -> "")

                @* TODO(sean): need to bind to MonetaryAccount fields *@
                @inputText(monetaryAccount("annualAdditions"), 'class -> "form-control input-md", '_label -> "Annual Additions")
                @inputDate(monetaryAccount("dateOfRetirement"), 'class -> "form-control input-md", '_label -> "Annual Additions Start Year", '_help -> "")
                @inputDate(monetaryAccount("dateOfRetirement"), 'class -> "form-control input-md", '_label -> "Annual Additions Stop Year", '_help -> "")

                @* @inputText(monetaryAccount("ownerId"), 'class -> "form-control input-md", '_label -> "Annual Rate of Return", '_help -> "") *@
            </fieldset>

            <div class="top-padding col-md-4 col-md-offset-5">
                <input type="submit" value="Create" class="btn primary"> or
                <a href="@routes.RetireeController.listMonetaryAccount()" class="btn">Cancel</a><br>
                @if(monetaryAccount.hasErrors) {
                    <div class="col-md-3 col-md-offset-4 alert-danger alert alert-error">
                        <a class="close" data-dismiss="alert">x</a>
                        @if(monetaryAccount.errors.size() > 0) {
                            @for((key, value) <- monetaryAccount.errors) {
                                @for(err <- value) {
                                    @err.message()
                                }
                            }
                        } else {No error returned.}
                    </div>
                }
            </div>

        }
    }