@import helper._
@import creator.formHelpers.formCurrencyInputSmallHelper

@(retireeForm: play.data.Form[Retiree])

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@inputCurrencyFieldConstructor = @{
    FieldConstructor(formCurrencyInputSmallHelper.render)
}

@views.html.base("Create Retiree") {

    <legend>Create Retiree</legend>

    @form(routes.RetireeController.saveRetiree(), 'class -> "form-horizontal") {
        <fieldset>
        @* Error dialogue *@
        @if(retireeForm.hasErrors) {
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert-danger alert alert-error">
                    <a class="close" data-dismiss="alert">x</a>
                    <h4>Error:</h4>
                    @if(retireeForm.errors.size() > 0) {
                        @for((key, value) <- retireeForm.errors) {
                            <p>
                            @for(err <- value) {
                                @err.key(): @err.message()
                            }
                            </p>
                        }
                    } else {No error returned.}
                </div>
            </div>
        }

            @inputText(retireeForm("firstName"), 'class -> "form-control input-md", '_label -> "First Name")
            @inputText(retireeForm("lastName"), 'class -> "form-control input-md", '_label -> "Last Name")
            @inputDate(retireeForm("dateOfBirth"), 'class -> "form-control input-md", '_label -> "Date of Birth")
            @inputDate(retireeForm("dateOfRetirement"), 'class -> "form-control input-md", '_label -> "Date of Retirement")
            @inputDate(retireeForm("dateOfDeparture"), 'class -> "form-control input-md", '_label -> "Date of Departure")
            @inputText(retireeForm("maxSocialSecurityBenefits"), '_col -> "col-md-5", '_type -> "number", '_min -> "0", '_step -> "1000",
                'class -> "form-control input-md currency'", '_label -> "Max SS Benefits", '_help -> ""
            )(handler = inputCurrencyFieldConstructor, null)
            @inputDate(retireeForm("dateofSSBenefits"), 'class -> "form-control input-md", '_label -> "Date of SS Benefits")
            @inputText(retireeForm("pension"), 'class -> "form-control input-md", '_label -> "Pension")
        </fieldset>

        <div class="top-padding col-md-4 col-md-offset-6" style="margin-bottom: 20px">
            <input type="submit" value="Create Retiree" class="btn btn-success">
        </div>
    }
}