@import models.MonetaryAccount
@(id: Long, monetaryAccount: play.data.Form[MonetaryAccount])

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(formInputTemplate.render)
    }

    @views.html.base("Home") {
        <br>

        <legend>Edit Monetary Account</legend>

        @form(routes.RetireeController.updateMonetaryAccount(id), 'class -> "form-horizontal") {

            <fieldset>
                @inputText(monetaryAccount("name"), 'class -> "form-control input-md", '_label -> "Account Name")
                @select(
                    monetaryAccount("retiree.id"),
                    options(Retiree.options), 'id -> "uid_field",
                    'class -> "form-control input-md", '_label -> "Account Owner",
                    '_default -> "-- Choose a Retiree --", '_showConstraints -> false
                )
                @inputText(monetaryAccount("balance"), 'class -> "form-control input-md", '_label -> "Balance")
                @checkbox(monetaryAccount("preTax"), '_label -> "Pre Tax")
                @inputText(monetaryAccount("growthRate"), 'class -> "form-control input-md", '_label -> "Growth Rate")

                @* TODO: placeholder inputs for now -- still need pre and post retirement *@
                @inputText(monetaryAccount("annualAdditions"), 'class -> "form-control input-md", '_label -> "Annual Additions")

            </fieldset>

            <div class="top-padding col-md-4 col-md-offset-5">
                <input type="submit" value="Create" class="btn primary"> or
                <a href="@routes.RetireeController.listMonetaryAccount()" class="btn">Cancel</a><br>
                @if(monetaryAccount.hasErrors) {
                    <div class="col-md-3 col-md-offset-4 alert-danger alert alert-error">
                        <a class="close" data-dismiss="alert">x</a>
                        @if(monetaryAccount.errors.size() > 0) {
                            @for((key, value) <- monetaryAccount.errors) {
                                @for(err <- value) {
                                    @err.message()
                                }
                            }
                        } else {No error returned.}
                    </div>
                }
            </div>
        }
    }