@import creator.formHelpers.formCurrencyInputSmallHelper
@import helper._
@import models.Retiree

@(id: Long, retireeForm: Form[Retiree])

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@inputCurrencyFieldConstructor = @{
    FieldConstructor(formCurrencyInputSmallHelper.render)
}

@base("Edit Retiree") {

    <legend>Edit a Retiree</legend>

    @form(routes.RetireeController.updateRetiree(id), 'class -> "form-horizontal") {

        <fieldset>

            @* Error dialogue *@
            @if(retireeForm.hasErrors) {
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert-danger alert alert-error">
                        <a class="close" data-dismiss="alert">x</a>
                        <h4>Error:</h4>
                        @if(retireeForm.errors.size() > 0) {
                            @for((key, value) <- retireeForm.errors) {
                                <p>
                                @for(err <- value) {
                                    @err.key(): @err.message()
                                }
                                </p>
                            }
                        } else {No error returned.}
                    </div>
                </div>
            }

            @inputText(retireeForm("firstName"), 'class -> "form-control input-md", '_label -> "First Name")
            @inputText(retireeForm("lastName"), 'class -> "form-control input-md", '_label -> "Last Name")
            @inputDate(retireeForm("dateOfBirth"), 'class -> "form-control input-md", '_label -> "Date of Birth")
            @inputDate(retireeForm("dateOfRetirement"), 'class -> "form-control input-md", '_label -> "Date of Retirement")
            @inputDate(retireeForm("dateOfDeparture"), 'class -> "form-control input-md", '_label -> "Date of Departure")
            @inputText(retireeForm("maxSocialSecurityBenefits"), '_col -> "col-md-5", '_type -> "number", '_min -> "0", '_step -> "1000",
                'class -> "form-control input-md currency'", '_label -> "Max SS Benefits", '_help -> ""
            )(handler = inputCurrencyFieldConstructor, null)
            @inputDate(retireeForm("dateofSSBenefits"), 'class -> "form-control input-md", '_label -> "Date of SS Benefits")
            @inputText(retireeForm("pension"), 'class -> "form-control input-md", '_label -> "Pension")

            @defining(retireeForm("id")) { uidField =>
                <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
            }
        </fieldset>

        <div class="top-padding col-md-4 col-md-offset-5">
            <input type="submit" value="Update" class="btn btn-success">
            <a href="@routes.RetireeController.listRetiree()" class="btn btn-danger">Cancel</a><br>
        </div>
    }
}