@import models.MonetaryAccount
@import java.util
@(monetaryAccounts: util.List[MonetaryAccount])

    @base("List Monetary Account") {

        <h2 id="homeTitle">Monetary Accounts</h2>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success" role="alert">
                <strong>Done!</strong> @flash.get("success")
            </div>
        }

        @if(monetaryAccounts.size() == 0) {
            <div class="well">
                <em>Please create a monetary account...</em>
            </div>
        } else {
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Record #</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Balance</th>
                        <th>Pre Tax</th>
                        <th>Growth Rate</th>
                        <th>Modify</th>
                    </tr>
                </thead>

                <tbody>
                @for(monetaryAccount <- monetaryAccounts) {
                    <tr>
                        <td>@monetaryAccount.id</td>
                        <td>@monetaryAccount.name</td>
                        <td>@monetaryAccount.retiree.getFirstName @monetaryAccount.retiree.getLastName</td>
                        <td> @monetaryAccount.balance</td>
                        <td> @monetaryAccount.preTax</td>
                        <td> @monetaryAccount.growthRate</td>
                        <td>
                            <a href="@routes.RetireeController.editMonetaryAccount(monetaryAccount.id)">EDIT</a> /
                            <a href="@routes.RetireeController.deleteMonetaryAccount(monetaryAccount.id)">DELETE</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        }

        <div id="actions">
            <a class="btn btn-success" id="add" href="@routes.RetireeController.createMonetaryAccount()">
                Add a new Monetary Account</a>
        </div>
    }