@import models.RetirementPlan

@import java.util
@(retirementPlans: util.List[RetirementPlan])

    @base("Retirement Plans Home") {

        <h2 id="homeTitle">Select a Retirement Plan</h2>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success" role="alert">
                <strong>Done!</strong> @flash.get("success")
            </div>
        }

        @if(retirementPlans.size() == 0) {
            <div class="well">
                <em>Create a retirement plan</em>
            </div>
        } else {
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Record #</th>
                        <th>Name</th>
                        <th>Retiree 1</th>
                        <th>Retiree 2</th>
                        <th>Filing Status</th>
                        <th>Exemptions</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>

                @for(retirementPlan <- retirementPlans) {
                    <tr>
                        <td>
                            @retirementPlan.id
                        </td>
                        <td>
                            <a href="@routes.Application.personalInfo(retirementPlan.id)">
                                @retirementPlan.name
                            </a>
                        </td>
                        <td>
                        @if(retirementPlan.retiree1 == null) {
                            <em>-</em>
                        } else {
                            @retirementPlan.retiree1.getFirstName @retirementPlan.retiree1.getLastName
                        }
                        </td>
                        <td>
                        @if(retirementPlan.retiree2 == null) {
                            <em>-</em>
                        } else {
                            @retirementPlan.retiree2.getFirstName @retirementPlan.retiree2.getLastName
                        }
                        </td>
                        <td>
                        @if(retirementPlan.filingStatus == null) {
                            <em>-</em>
                        } else {
                            @retirementPlan.filingStatus.getName
                        }
                        </td>
                        <td>
                            @retirementPlan.exemptions
                        </td>
                        <td>
                            <a href="@routes.RetireeController.updateRetirementPlan(retirementPlan.id)">EDIT</a> /
                            <a href="@routes.RetireeController.deleteRetirementPlan(retirementPlan.id)">DELETE</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

        <div id="actions">
            <a class="btn btn-success" id="add" href="@routes.RetirementPlanCreationController.showRetirementPlan()">
                Add a new retirement plan
            </a>
        </div>
    }