@import models.Retiree
@import java.util

@(retirees: util.List[Retiree])

@base("List Retiree") {

    <h2 id="homeTitle">Retirees</h2>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success" role="alert">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(retirees.size() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Record #</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Date of retirement</th>
                    <th>Date of departure</th>
                    <th>Monetary Accounts</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>

            @for(retiree <- retirees) {
                <tr>
                    <td>@retiree.id</td>
                    <td>@retiree.firstName @retiree.lastName</td>
                    <td>
                    @if(retiree.dateOfBirth == null) {
                        <em>-</em>
                    } else {
                        @retiree.dateOfBirth.format("MM/dd/yyyy")
                    }
                    </td>
                    <td>
                    @if(retiree.dateOfRetirement == null) {
                        <em>-</em>
                    } else {
                        @retiree.dateOfRetirement.format("MM/dd/yyyy")
                    }
                    </td>
                    <td>
                    @if(retiree.dateOfDeparture == null) {
                        <em>-</em>
                    } else {
                        @retiree.dateOfDeparture.format("MM/dd/yyyy")
                    }
                    </td>
                    <td>
                    @if(retiree.monetaryAccounts == null) {
                        0
                    } else {
                        @retiree.monetaryAccounts.size()
                    }
                    </td>
                    <td>
                        <a href="@routes.RetireeController.updateRetiree(retiree.id)">EDIT</a> /
                        <a href="@routes.RetireeController.deleteRetiree(retiree.id)">DELETE</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>

    }

    <div id="actions">
        <a class="btn btn-success" id="add" href="@routes.RetireeController.createRetiree()">
            Add a new retiree
        </a>
    </div>
}