@import helper._
@import creator.formHelpers.formCurrencyInputSmallHelper

@(retireeField: Field, planId: Long)

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@inputCurrencyFieldConstructor = @{
    FieldConstructor(formCurrencyInputSmallHelper.render)
}

<fieldset>
    @inputText(retireeField("firstName"), 'class -> "form-control input-md", '_label -> "First Name")
    @inputText(retireeField("lastName"), 'class -> "form-control input-md", '_label -> "Last Name")
    @inputText(retireeField("dateOfBirth"), 'class -> "form-control input-md date-picker", '_label -> "Date of Birth")
    @inputText(retireeField("dateOfRetirement"), 'class -> "form-control input-md date-picker", '_label -> "Date of Retirement")
    @inputText(retireeField("dateOfDeparture"), 'class -> "form-control input-md date-picker", '_label -> "Date of Departure")
    @inputText(retireeField("maxSocialSecurityBenefits"), '_col -> "col-md-5", '_type -> "number", '_min -> "0", '_step -> "1000",
        'class -> "form-control input-md currency", '_label -> "Max Social Security Benefits", '_help -> ""
    )(handler = inputCurrencyFieldConstructor, null)
    @inputText(retireeField("dateofSSBenefits"), 'class -> "form-control input-md date-picker", '_label -> "Date of Social Security Benefits")
    @inputText(retireeField("pension"), 'class -> "form-control input-md currency", '_label -> "Pension"
    )(handler = inputCurrencyFieldConstructor, null)

    @if(retireeField("id").value.isDefined) {
        @if(retireeField("id").value.get.toLong != 0) {
            @defining(retireeField("id")) { uidField =>
                <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
            }
        }
    }
</fieldset>

<!-- Retiree Accounts -->
<div class="panel-body panel-success">
    @repeat(retireeField("monetaryAccounts"), min = retireeField("monetaryAccounts").indexes.length + 1) { acctField =>
       @views.html.creator.monetaryaccount.formMonetaryAccount(acctField, planId)
    }
</div>


<!-- Investment Accounts -->
<div class="panel-body">
    @repeat(retireeField("investmentAccounts"), min = retireeField("investmentAccounts").indexes.length + 1) { acctField =>
        @views.html.creator.investmentaccount.formInvestmentAccount(acctField, planId)
    }
</div>


@*
<!-- Mortgage Accounts -->
<div class="panel-body">
    @repeat(retireeField("mortgages"), min = retireeField("mortgages").indexes.length + 1) { acctField =>
        @views.html.creator.mortgageaccount.formMortgageAccount(acctField, planId)
    }
</div>
*@