@(agiForm: play.data.Form[models.AGI])

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(formInputTemplate.render)
    }

    @views.html.base("Adjusted Gross Income") {
        <legend>AGI</legend>

        @form(routes.Application.updateAGI(), 'class -> "form-horizontal") {
            <fieldset>
                @inputText(agiForm("healthSavingsDeduction"), 'class -> "form-control input-md", '_label -> "HSA Contributions", '_help -> "")
                @inputText(agiForm("iraDeduction"), 'class -> "form-control input-md", '_label -> "IRA Contributions", '_help -> "")
                @inputText(agiForm("studentLoanInterest"), 'class -> "form-control input-md", '_label -> "Student Loan Interest", '_help -> "")
                @inputText(agiForm("earlyWithdrawlPenalty"), 'class -> "form-control input-md", '_label -> "Early Withdrawl Penalty", '_help -> "")

                <div class="panel-group col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Less Common Inputs</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                @inputText(agiForm("educatorExpenses"), 'class -> "form-control input-md", '_label -> "Educator Expenses", '_help -> "")
                                @inputText(agiForm("form2106Value"), 'class -> "form-control input-md", '_label -> "Qualified Business Expenses", '_help -> "")
                                @inputText(agiForm("movingExpenses"), 'class -> "form-control input-md", '_label -> "Moving Expenses", '_help -> "")
                                @inputText(agiForm("selfEmploymentDeductable"), 'class -> "form-control input-md", '_label -> "Self-employment Deductable", '_help -> "")
                                @inputText(agiForm("selfEmployHealthInsuranceDeduction"), 'class -> "form-control input-md", '_label -> "Self-employment Health Insurance Deduction", '_help -> "")
                                @inputText(agiForm("domesticProductionDeduction"), 'class -> "form-control input-md", '_label -> "Domestic Production Deduction", '_help -> "")
                                @inputText(agiForm("tuitionAndFees"), 'class -> "form-control input-md", '_label -> "Tuition and Fees", '_help -> "")
                                @inputText(agiForm("alimony"), 'class -> "form-control input-md", '_label -> "Alimony Paid", '_help -> "")
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="top-padding col-md-4 col-md-offset-7">
                <input type="submit" value="Continue" class="btn btn-primary">
            </div>
        }

    }