@* Resusable helper to create custom input fields. Customized via template parameters *@
@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) { error}">
    <label class="col-md-5 control-label" for="@elements.id">@elements.label</label>
    <div class="col-md-2">
        @elements.input
        <span class="help-inline">@elements.infos.mkString(", ")</span>
    </div>
</div>