@(incomeForm: play.data.Form[models.Income], scheduleDForm: play.data.Form[models.ScheduleD], ssiWorksheet: play.data.Form[models.SSIWorksheet])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@views.html.base("Income") {

    <legend>Income</legend>

    @form(routes.Application.updateIncome(), 'class -> "form-horizontal") {

        <fieldset>
            @inputText(incomeForm("wages"), 'class -> "form-control input-md", '_label -> "Wages", '_help -> "")
            @inputText(incomeForm("ordinaryDividends"), 'class -> "form-control input-md", '_label -> "Ordinary Dividends", '_help -> "")
            @inputText(scheduleDForm("netLongTerm"), 'class -> "form-control input-md", '_label -> "Capital Gains", '_help -> "")
            @inputText(incomeForm("otherGains"), 'class -> "form-control input-md", '_label -> "Other Gains", '_help -> "")
            @inputText(incomeForm("pensionsAndAnnuities"), 'class -> "form-control input-md", '_label -> "Pension Income", '_help -> "")
            @inputDate(incomeForm("dateOfPensionBegin"), 'class -> "form-control input-md", '_label -> "Date of Pension Begin", '_help -> "")
            @inputText(ssiWorksheet("socialSecurityIncome"), 'class -> "form-control input-md", '_label -> "Social Security", '_help -> "")
            @inputDate(incomeForm("dateOfSSBegin"), 'class -> "form-control input-md", '_label -> "Date of Social Security Begin", '_help -> "")
            @inputText(incomeForm("iraDistributions"), 'class -> "form-control input-md", '_label -> "IRA Distributions", '_help -> "")
            @inputText(incomeForm("otherIncome"), 'class -> "form-control input-md", '_label -> "Other Income", '_help -> "")

            <div class="panel-group col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Less Common Inputs</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            @inputText(incomeForm("taxableInterest"), 'class -> "form-control input-md", '_label -> "Taxable Interest", '_help -> "")
                            @inputText(incomeForm("alimony"), 'class -> "form-control input-md", '_label -> "Alimony", '_help -> "")
                            @inputText(incomeForm("businessIncome"), 'class -> "form-control input-md", '_label -> "Business", '_help -> "")
                            @inputText(incomeForm("taxableRefunds"), 'class -> "form-control input-md", '_label -> "Taxable Refunds", '_help -> "")
                            @inputText(incomeForm("realEstate"), 'class -> "form-control input-md", '_label -> "Real Estate Income", '_help -> "")
                            @inputText(incomeForm("farmIncome"), 'class -> "form-control input-md", '_label -> "Farm Income", '_help -> "")
                            @inputText(incomeForm("unemployment"), 'class -> "form-control input-md", '_label -> "Unemployment Income", '_help -> "")
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="top-padding col-md-4 col-md-offset-7">
            @*TODO: commenting for now; <a href="@routes.Application.incomeHome()" class="btn btn-warning">Reset</a>*@
            <input type="submit" value="Continue" class="btn btn-primary">
        </div>

    }

}