@import java.util
@(forms: util.List[TenFortyCalculator])


@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@views.html.base("List") {
    <br>

    <legend>Existing Forms</legend>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Filing status</th>
                <th>Exemptions</th>
            </tr>
        </thead>
        <tbody>

        @for( form <- forms) {
            <tr>
                <td><a href="@routes.Application.populate(form.getId)">@form.retirementPlan().name</a></td>
                <td>@form.retirementPlan().filingStatus</td>
                <td>@form.retirementPlan().exemptions</td>
            </tr>
        }

        </tbody>
    </table>
}