@(loginForm: play.data.DynamicForm)

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(formInputTemplate.render)
}

@views.html.base("Login") {
    <br>

    <legend>Sign In</legend>

    @form(routes.Application.login(), 'class -> "form-horizontal") {

        <fieldset>

            @inputText(loginForm("username"), 'class -> "required form-control input-md", '_label -> "Username", '_help -> "")
            @inputPassword(loginForm("password"), 'class -> "required form-control input-md", '_label -> "Password", '_help -> "")

        </fieldset>

        <div class="top-padding col-md-2 col-md-offset-5">
            <input type="submit" value="Login" class="btn btn-primary pull-right"><br>

            @if(loginForm.hasErrors) {
                <div class="row">
                    <div class="col-md-5 alert-danger alert alert-error">
                        <a class="close" data-dismiss="alert">x</a>
                        @if(loginForm.errors.size() > 0) {
                            @for((key, value) <- loginForm.errors) {
                                @for(err <- value) {
                                    @err.key(): @err.message()<br>
                                }
                            }
                        } else {No error returned.}
                    </div>
                </div>
            }
        </div>
    }
}