@(id: Long, personalInfoForm: play.data.Form[Retiree])

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(formInputTemplate.render)
    }

    @views.html.base("Home") {

        <legend>Personal Info</legend>

        @form(routes.RetireeController.updateRetiree(id), 'class -> "form-horizontal") {

            <fieldset>
                @inputText(personalInfoForm("firstName"), 'class -> "form-control input-md", '_label -> "First Name", '_help -> "")
                @inputText(personalInfoForm("lastName"), 'class -> "form-control input-md", '_label -> "Last Name", '_help -> "")
                @inputDate(personalInfoForm("dateOfBirth"), 'class -> "form-control input-md", '_label -> "Date of Birth", '_help -> "")
                @defining(personalInfoForm("id")) { uidField =>
                    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
                }

                <div class="top-padding col-md-4 col-md-offset-6" style="margin-bottom: 20px">
                    @*<button class="btn btn-success" id="retirementButton" type="button" data-toggle="collapse" data-target="#retirementAccountFields" aria-expanded="false" aria-controls="retirementAccountFields">*@
                        @*Add Retirement RetirementPlan +*@
                    @*</button>*@
                    <input type="submit" value="Continue" class="btn btn-primary">
                </div>

            </fieldset>
        }
    }

<script>
    @* Hide the retirment account creation button after panel opens *@
    $('#retirementAccountFields').on('show.bs.collapse', function () {
        $("#retirementButton").hide();
    })
</script>