@import models.RetirementPlan

@(rPlan: RetirementPlan)

    @views.html.base("Retirement Plan Information") {
        <br>

        <legend>Retirement Plan for <em><strong>@rPlan.name</strong></em></legend>

        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <h4>Desired Income</h4>
                <span class="format-dollar">@rPlan.desiredIncome</span>
                <h4>Filing Status</h4>
                @if(rPlan.filingStatus != null) {
                    @rPlan.filingStatus.getName
                }
            </div>
        </div>

        <div class="row">
            @* Center the div if just a single retiree *@
            @if(rPlan.retiree2 == null) {
                <div class="col-md-4 col-md-offset-5">
            } else {
                <div class="top-padding col-md-3 col-md-offset-3">
            }

                @if(rPlan.retiree1 != null) {
                    <h4>@rPlan.retiree1.getFirstName @rPlan.retiree1.getLastName</h4>

                    Born: @rPlan.retiree1.getDateOfBirth.format("M/dd/YYYY")
                    <p>
                    @for(a <- rPlan.retiree1.monetaryAccounts) {
                        <p>
                            <b>@a.getName()</b>:  <span class="format-dollar">@a.getBalance()</span>
                        </p>
                    }
                    </p>
                    <p>
                        @for(a <- rPlan.retiree1.investmentAccounts) {
                            <p>
                                <b>Investment account @a.getName() current Balance</b>: <span class="format-dollar">@a.getBalance()</span>
                            </p>
                        }
                    </p>
                }
            </div>

            @if(rPlan.retiree2 != null) {
                <div class="top-padding col-md-3">
                        <h4>@rPlan.retiree2.getFirstName @rPlan.retiree2.getLastName</h4>

                        Born: @rPlan.retiree2.getDateOfBirth.format("M/dd/YYYY")
                        <p>
                        @for(a <- rPlan.retiree2.monetaryAccounts) {
                            <p>
                                <b>@a.getName()</b>:  <span class="format-dollar">@a.getBalance()</span>
                            </p>
                        }
                        </p>
                </div>
            }
        </div>

        <div class="continue-buffer row">
            <a href="@routes.Application.summary()" class="col-md-2 col-md-offset-6">
                <input type="button" value="Get Summary" class="btn btn-success full-btn">
            </a>
        </div>
    }