@import java.util

@(retirementPlan: RetirementPlan, summaryData: SummaryData)

@views.html.summaryBase("Summary") {
    <legend class="legend-frozen">@retirementPlan.name Summary</legend>
    <div class="legend-buffer"></div>


    <div id="tabbedContainer">

        @* Tabs *@
        <ul>
            <li>
                <a href="#tabs-1">Conventional</a>
            </li>
            <li>
                <a href="#tabs-2">Optimized</a>
            </li>
        </ul>

        @* Tab panel 1: the basic table *@
        <div id="tabs-1" class="tabs-panel">
            <p> Total Taxes: <span class="format-dollar"> @summaryData.totalTaxesConventional </span></p>
            <table class="table table-striped table-hover table-bordered" id="summaryTable">
                <thead>
                    @* Note: DataTables only loads if the table is completely populated and formatted correctly
                    @* Retiree 1 age *@
                    <tr class="tableizer-firstrow">
                        <th>@retirementPlan.retiree1.firstName @retirementPlan.retiree1.lastName's Age</th>
                        @for(age <- retirementPlan.retiree1.getCurrentAge to retirementPlan.retiree1.getCurrentAge + summaryData.conventionalSummary.length - 1) {
                            <th>@age</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @* TODO: Annual basis table *@

                    @* Retiree 1 accounts *@
                    @for(baseAccount <- retirementPlan.retiree1.getConvertedAccounts) {
                        <tr>
                            <td>@baseAccount.name</td>
                            @* Iterate over the each taxYear's account value *@
                            @for(taxYear <- summaryData.conventionalSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getConvertedAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar">@account.balance.toInt</span>
                                    </td>
                                }
                            }
                        </tr>

                        @* Retiree 1 account changes *@
                        <tr>
                            <td>@baseAccount.name Change</td>
                            @for(taxYear <- summaryData.conventionalSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getConvertedAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                    </td>
                                }
                            }
                        </tr>
                    }

                    @for(baseAccount <- retirementPlan.retiree1.getInvestmentAccounts) {
                        <tr>
                            <td>@baseAccount.name</td>
                            @* Iterate over the each taxYear's account value *@
                            @for(taxYear <- summaryData.conventionalSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getInvestmentAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar">@account.balance.toInt</span>
                                    </td>
                                }
                            }
                        </tr>

                        @* Retiree 1 account changes *@
                        <tr>
                            <td>@baseAccount.name Change</td>
                            @for(taxYear <- summaryData.conventionalSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getInvestmentAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                    </td>
                                }
                            }
                        </tr>
                    }

                    <tr>
                        <td>Social Security</td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            @if(taxYear.retirementPlan.retiree1.ssBenefits == 0) {
                                <td>-</td>
                            } else {
                                <td>
                                    <span class="format-dollar">@taxYear.retirementPlan.retiree1.ssBenefits</span>
                                </td>
                            }
                        }
                    </tr>
                    @if(retirementPlan.retiree1.pension != 0) {
                        <tr>
                        <td>Pension</td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>
                                <span class="format-dollar">@retirementPlan.retiree1.pension</span>
                            </td>
                        }
                     </tr>
                    }

                    @* If plan has a second retiree *@
                    @if(retirementPlan.retiree2 != null) {

                        @* Retiree 2 age *@
                        <tr>
                            <td><strong>@retirementPlan.retiree2.firstName @retirementPlan.retiree2.lastName's Age</strong></td>
                            @for( age <- retirementPlan.retiree2.getCurrentAge to retirementPlan.retiree2.getCurrentAge + summaryData.conventionalSummary.length - 1) {
                                <td><strong>@age</strong></td>
                            }
                        </tr>

                        @* Retiree 2 accounts *@
                        @for(baseAccount <- retirementPlan.retiree2.getConvertedAccounts) {
                            <tr>
                                <td>@baseAccount.name</td>
                                @* Iterate over the each taxYear's account value *@
                                @for(taxYear <- summaryData.conventionalSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getConvertedAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar">@account.balance.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>

                            @* Retiree 2 account changes *@
                            <tr>
                                <td>@baseAccount.name Change</td>
                                @for(taxYear <- summaryData.conventionalSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getConvertedAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }

                        @for(baseAccount <- retirementPlan.retiree2.getInvestmentAccounts) {
                            <tr>
                                <td>@baseAccount.name</td>
                                @* Iterate over the each taxYear's account value *@
                                @for(taxYear <- summaryData.conventionalSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getInvestmentAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar">@account.balance.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>

                            @* Retiree 2 account changes *@
                            <tr>
                                <td>@baseAccount.name Change</td>
                                @for(taxYear <- summaryData.conventionalSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getInvestmentAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }


                        <tr>
                            <td>Social Security</td>
                            @for(taxYear <- summaryData.conventionalSummary) {
                                @if(taxYear.retirementPlan.retiree2.ssBenefits == 0) {
                                    <td>-</td>
                                } else {
                                    <td>
                                        <span class="format-dollar">@taxYear.retirementPlan.retiree2.ssBenefits</span>
                                    </td>
                                }
                            }
                        </tr>
                        @if(retirementPlan.retiree2.pension != 0) {
                            <tr>
                            <td>Pension</td>
                            @for(taxYear <- summaryData.conventionalSummary) {
                                <td>
                                    <span class="format-dollar">@retirementPlan.retiree2.pension</span>
                                </td>
                            }
                            </tr>
                        }
                    }
                    @* Taxes / Desired Income/ Taxable Income / Total Due *@
                    <tr>
                        <td><strong>Taxes:</strong></td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>-</td>
                        }
                    </tr>

                    @* Net Income -- originally was desired income *@
                    <tr>
                        <td><strong>Net Income:</strong></td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getNetIncome</span> (<span class="format-dollar"> @taxYear.retirementPlan.desiredIncome </span>)
                            </td>
                        }
                    </tr>

                    @* Total Income *@
                    <tr>
                        <td><strong>Total Income:</strong></td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.totalIncome</span>
                            </td>
                        }
                    </tr>

                    @* Taxable Income *@
                    <tr>
                        <td>Taxable Income:</td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getTaxes.getTaxableIncome</span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Total Due:</td>
                        @for(taxYear <- summaryData.conventionalSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getTaxes.getTotalDue</span>
                            </td>
                        }
                    </tr>

                </tbody>
            </table>
        </div>

        @* The optimized tab panel *@
        <div id="tabs-2">
            <p> Total Taxes: <span class="format-dollar"> @summaryData.totalTaxesOptimized </span> </p>
            <table class="table table-striped table-hover table-bordered" id="optimizedTable">
                <thead>
                    @* Note: DataTables only loads if the table is completely populated and formatted correctly
                    @* Retiree 1 age *@
                    <tr class="tableizer-firstrow">
                        <th>@retirementPlan.retiree1.firstName @retirementPlan.retiree1.lastName's Age</th>
                        @for(age <- retirementPlan.retiree1.getCurrentAge to retirementPlan.retiree1.getCurrentAge + summaryData.optimizedSummary.length - 1) {
                            <th>@age</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @* TODO: Annual basis table *@

                    @* Retiree 1 accounts *@
                    @for(baseAccount <- retirementPlan.retiree1.getConvertedAccounts) {
                        <tr>
                            <td>@baseAccount.name</td>
                            @* Iterate over the each taxYear's account value *@
                            @for(taxYear <- summaryData.optimizedSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getConvertedAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar">@account.balance.toInt</span>
                                    </td>
                                }
                            }
                        </tr>

                        @* Retiree 1 account changes *@
                        <tr>
                            <td>@baseAccount.name Change</td>
                            @for(taxYear <- summaryData.optimizedSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getConvertedAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                    </td>
                                }
                            }
                        </tr>
                    }
                    @for(baseAccount <- retirementPlan.retiree1.getInvestmentAccounts) {
                        <tr>
                            <td>@baseAccount.name</td>
                            @* Iterate over the each taxYear's account value *@
                            @for(taxYear <- summaryData.optimizedSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getInvestmentAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar">@account.balance.toInt</span>
                                    </td>
                                }
                            }
                        </tr>

                        @* Retiree 1 account changes *@
                        <tr>
                            <td>@baseAccount.name Change</td>
                            @for(taxYear <- summaryData.optimizedSummary) {
                                @* Get matching account *@
                                @for(account <- taxYear.retirementPlan.retiree1.getInvestmentAccounts if account == baseAccount) {
                                    <td>
                                        <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                    </td>
                                }
                            }
                        </tr>
                    }
                    <tr>
                        <td>Social Security</td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            @if(taxYear.retirementPlan.retiree1.ssBenefits == 0) {
                                <td>-</td>
                            } else {
                                <td>
                                    <span class="format-dollar">@taxYear.retirementPlan.retiree1.ssBenefits</span>
                                </td>
                            }
                        }
                    </tr>
                    @if(retirementPlan.retiree1.pension != 0) {
                        <tr>
                        <td>Pension</td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>
                                <span class="format-dollar">@retirementPlan.retiree1.pension</span>
                            </td>
                        }
                     </tr>
                    }

                    @* If plan has a second retiree *@
                    @if(retirementPlan.retiree2 != null) {

                        @* Retiree 2 age *@
                        <tr>
                            <td><strong>@retirementPlan.retiree2.firstName @retirementPlan.retiree2.lastName's Age</strong></td>
                            @for( age <- retirementPlan.retiree2.getCurrentAge to retirementPlan.retiree2.getCurrentAge + summaryData.optimizedSummary.length - 1) {
                                <td><strong>@age</strong></td>
                            }
                        </tr>

                        @* Retiree 2 accounts *@
                        @for(baseAccount <- retirementPlan.retiree2.getConvertedAccounts) {
                            <tr>
                                <td>@baseAccount.name</td>
                                @* Iterate over the each taxYear's account value *@
                                @for(taxYear <- summaryData.optimizedSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getConvertedAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar">@account.balance.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>

                            @* Retiree 2 account changes *@
                            <tr>
                                <td>@baseAccount.name Change</td>
                                @for(taxYear <- summaryData.optimizedSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getConvertedAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        @for(baseAccount <- retirementPlan.retiree2.getInvestmentAccounts) {
                            <tr>
                                <td>@baseAccount.name</td>
                                @* Iterate over the each taxYear's account value *@
                                @for(taxYear <- summaryData.optimizedSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getInvestmentAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar">@account.balance.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>

                            @* Retiree 2 account changes *@
                            <tr>
                                <td>@baseAccount.name Change</td>
                                @for(taxYear <- summaryData.optimizedSummary) {
                                    @* Get matching account *@
                                    @for(account <- taxYear.retirementPlan.retiree2.getInvestmentAccounts if account == baseAccount) {
                                        <td>
                                            <span class="format-dollar amount-removed-value">@account.amountRemoved.toInt</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        
                        <tr>
                            <td>Social Security</td>
                            @for(taxYear <- summaryData.optimizedSummary) {
                                @if(taxYear.retirementPlan.retiree2.ssBenefits == 0) {
                                    <td>-</td>
                                } else {
                                    <td>
                                        <span class="format-dollar">@taxYear.retirementPlan.retiree2.ssBenefits</span>
                                    </td>
                                }
                            }
                        </tr>
                        @if(retirementPlan.retiree2.pension != 0) {
                            <tr>
                            <td>Pension</td>
                            @for(taxYear <- summaryData.optimizedSummary) {
                                <td>
                                    <span class="format-dollar">@retirementPlan.retiree2.pension</span>
                                </td>
                            }
                            </tr>
                        }
                    }
                    @* Taxes / Desired Income/ Taxable Income / Total Due *@
                    <tr>
                        <td><strong>Taxes:</strong></td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>-</td>
                        }
                    </tr>

                    @* Net Income -- originally was desired income *@
                    <tr>
                        <td><strong>Net Income:</strong></td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getNetIncome</span> (<span class="format-dollar"> @taxYear.retirementPlan.desiredIncome </span>)
                            </td>
                        }
                    </tr>

                    @* Total Income *@
                    <tr>
                        <td><strong>Total Income:</strong></td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.totalIncome</span>
                            </td>
                        }
                    </tr>

                    @* Taxable Income *@
                    <tr>
                        <td>Taxable Income:</td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getTaxes.getTaxableIncome</span>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Total Due:</td>
                        @for(taxYear <- summaryData.optimizedSummary) {
                            <td>
                                <span class="format-dollar">@taxYear.getTaxes.getTotalDue</span>
                            </td>
                        }
                    </tr>

                </tbody>
            </table>        
        </div>
    </div>
}