@(taxAndCreditsForm: play.data.Form[models.TaxAndCredits])

    @import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(formInputTemplate.render)
    }

    @views.html.base("Tax And Credits") {

        <legend>Tax And Credits</legend>

        @form(routes.Application.updateTaxAndCredits(), 'class -> "form-horizontal") {
            <fieldset>
                @inputText(taxAndCreditsForm("mortgageInterestCredit"), 'class -> "form-control input-md", '_label -> "Total Itemized Deductions", '_help -> "")
                @inputText(taxAndCreditsForm("dependentExpenses"), 'class -> "form-control input-md", '_label -> "Dependent Expenses", '_help -> "")
                @inputText(taxAndCreditsForm("retirementSavingsCredit"), 'class -> "form-control input-md", '_label -> "Retirement Savings Contributions", '_help -> "")
                @inputText(taxAndCreditsForm("propertyTaxCredit"), 'class -> "form-control input-md", '_label -> "Property Tax Paid", '_help -> "")
                @inputText(taxAndCreditsForm("charitableContributionsCredit"), 'class -> "form-control input-md", '_label -> "Charitable Contributions", '_help -> "")
                @* Hide this for now, it's used twice but will be fixed *@
                @* @inputText(taxAndCreditsForm("mortgageInterestCredit"), 'class -> "form-control input-md", '_label -> "Mortgage Interest Paid", '_help -> "")*@
                @inputText(taxAndCreditsForm("otherCredits"), 'class -> "form-control input-md", '_label -> "Other Credits", '_help -> "")

                <div class="panel-group col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Less Common Inputs</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                @inputText(taxAndCreditsForm("alternativeMinTax"), 'class -> "form-control input-md", '_label -> "Alternative Minimum Tax", '_help -> "")
                                @inputText(taxAndCreditsForm("premiumTaxCredit"), 'class -> "form-control input-md", '_label -> "Premium Tax Credit", '_help -> "")
                                @inputText(taxAndCreditsForm("foreignTaxCredit"), 'class -> "form-control input-md", '_label -> "Foreign Tax Credit", '_help -> "")
                                @inputText(taxAndCreditsForm("eduCredits"), 'class -> "form-control input-md", '_label -> "Education Credits", '_help -> "")
                                @inputText(taxAndCreditsForm("childTaxCredit"), 'class -> "form-control input-md", '_label -> "Child Tax Credit", '_help -> "")
                                @inputText(taxAndCreditsForm("residentialEnergyCredits"), 'class -> "form-control input-md", '_label -> "Residential Energy Credit", '_help -> "")
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="top-padding col-md-4 col-md-offset-7">
                <input type="submit" value="Done" class="btn btn-success">
            </div>
        }

    }